@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background-color: #09090b;
  color: #fafafa;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #18181b;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}